################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/AgremForOrelWaterCanal/FileContentIndex/7dee55c9-5487-46d9-b148-66416477dc6d.vsidx
